<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">Frozen II</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="capa">
    <div class="ion-text-center">
      <div class="info-filme">Animação, Família, Aventura - 1h 44m</div>
      <div class="info-filme">2019</div>
      <div class="avaliacao center c100 p72 green">
        <span>72%</span>
        <div class="slice">
          <div class="fill"></div>
          <div class="bar"></div>
        </div>
      </div>
      <div class="info-filme">Avaliação dos Usuários</div>
      <div class="frase">
        "Descubra o passado. Enfrente o futuro.."
      </div>
    </div>
  </div>

  <div class="info-add">
    <div>
      <h1>Sinopse</h1>
      <p>
        &nbsp;&nbsp;De volta à infância de Elsa e Anna, as duas garotas
        descobrem uma história do pai, quando ainda era príncipe de Arendelle.
        Ele conta às meninas a história de uma visita à floresta dos elementos,
        onde um acontecimento inesperado teria provocado a separação dos
        habitantes da cidade com os quatro elementos fundamentais: ar, fogo,
        terra e água. Esta revelação ajudará Elsa a compreender a origem de seus
        poderes.
      </p>
    </div>

    <div class="trailer">
      <h1>Trailer</h1>
      <a href="https://youtu.be/TTIbWKEUPnc"
        >&nbsp;&nbsp;Clique aqui para assistir ao trailer</a
      >
    </div>
  </div>
</ion-content>
