<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">Breaking Bad</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-slides class="imagens" pager="true" [options]="slideOpts">
    <ion-slide>
      <img
        src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/tsRy63Mu5cu8etL1X7ZLyf7UP1M.jpg"
      />
    </ion-slide>
    <ion-slide>
      <img
        src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/vFxjuhENDjEKzWXUGKmRFct15bA.jpg"
      />
    </ion-slide>
    <ion-slide>
      <img
        src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/wKHImjeHwVIiWJWFIJtWUKkA5QJ.jpg"
      />
    </ion-slide>
    <ion-slide>
      <img
        src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/nPJ1quzQIDhu4u5tqjE6baKcOMT.jpg"
      />
    </ion-slide>
  </ion-slides>

  <div class="frase">"Se Lembre do meu Nome"</div>

  <div class="info">
    <div class="tipo">
      <div>Drama - 45m</div>
      <div>5 temporadas</div>
      <div>Classificação <span class="classificacao">18</span></div>
      <div>Avaliação dos Usuários</div>
      <div class="avaliacao center c100 p86 green">
        <span>86%</span>
        <div class="slice">
          <div class="fill"></div>
          <div class="bar"></div>
        </div>
      </div>
    </div>
    <div class="sinopse">
      <h1>Sinopse</h1>
      <p>
        &nbsp;&nbsp;Ao saber que tem câncer, um professor passa a fabricar
        metanfetamina pelo futuro da família, mudando o destino de todos.
      </p>
    </div>

    <div class="elenco">
      <h1>Elenco</h1>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-item>
                <img
                  src="https://image.tmdb.org/t/p/w138_and_h175_face/aGSvZg7uITJveQtGHDcPNI6map1.jpg"
                />
              </ion-item>

              <ion-card-content>
                <h1>Bryan<br>Cranston</h1>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card>
              <ion-item>
                <img
                  src="https://image.tmdb.org/t/p/w138_and_h175_face/u8UdsB9yenM4uHEjmce4nkBn48X.jpg"
                />
              </ion-item>

              <ion-card-content>
                <h1>Aaron<br>Paul</h1>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-item>
                <img
                  src="https://image.tmdb.org/t/p/w138_and_h175_face/adppyeu1a4REN3khtgmXusrapFi.jpg"
                />
              </ion-item>

              <ion-card-content>
                <h1>Anna<br>Gunn</h1>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card>
              <ion-item>
                <img
                  src="https://image.tmdb.org/t/p/w138_and_h175_face/yV3DZ52LYRf5F605xRas5BEcJrZ.jpg"
                />
              </ion-item>

              <ion-card-content>
                <h1>Dean<br>Norris</h1>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
