<ion-header >
  <ion-toolbar color="danger">
    <ion-title>
      Desenhos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <!-- Os Simpsons -->
    <ion-item lines="full" routerLink="/os-simpsons">
      <ion-thumbnail slot="start">
        <img src="assets/simpsons.jpg">
      </ion-thumbnail>
      <ion-label>
        Os Simpsons
      </ion-label>

      <div slot="end" class="c100 p89 small green">
        <span>89%</span>
        <div class="slice">
          <div class="fill"></div>
          <div class="bar"></div>
        </div>
      </div>
    </ion-item>

    <!-- Pokémon -->
    <ion-item lines="full" routerLink="/pokemon">
      <ion-thumbnail slot="start">
        <img src="assets/pokemon.jpg">
      </ion-thumbnail>
      <ion-label>
        Pokémon
      </ion-label>

      <div slot="end" class="c100 p87 small green">
        <span>87%</span>
        <div class="slice">
          <div class="fill"></div>
          <div class="bar"></div>
        </div>
      </div>
    </ion-item>

    <!-- Uma Família da Pesada -->
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/familia.jpg">
      </ion-thumbnail>
      <ion-label>
        Uma Família da Pesada
      </ion-label>

      <div slot="end" class="c100 p75 small green">
        <span>75%</span>
        <div class="slice">
          <div class="fill"></div>
          <div class="bar"></div>
        </div>
      </div>
    </ion-item>

    <!-- Rick and Morty -->
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/rickmorty.jpg">
      </ion-thumbnail>
      <ion-label>
        Rick and Morty
      </ion-label>

      <div slot="end" class="c100 p64 small orange">
        <span>64%</span>
        <div class="slice">
          <div class="fill"></div>
          <div class="bar"></div>
        </div>

      </div>
    </ion-item>

    <!-- Dragon Ball -->
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/db.jpg">
      </ion-thumbnail>
      <ion-label>
        Dragon Ball
      </ion-label>

      <div slot="end" class="c100 p24 small ">
        <span>24%</span>
        <div class="slice">
          <div class="fill"></div>
          <div class="bar"></div>
        </div>

      </div>
    </ion-item>
  </ion-list>
</ion-content>
