<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">Ad Astra - Rumo às Estrelas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="capa">
    <div class="ion-text-center">
      <div class="info-filme">Ficção Científica, Drama - 2h 3m</div>
      <div class="info-filme">2019</div>
      <div class="avaliacao center c100 p60 orange">
        <span>60%</span>
        <div class="slice">
          <div class="fill"></div>
          <div class="bar"></div>
        </div>
      </div>
      <div class="info-filme">Avaliação dos Usuários</div>
      <div class="frase">
        "As respostas que procuramos estão fora do nosso alcance."
      </div>
    </div>
  </div>

  <div class="info-add">
    <div>
      <h1>Sinopse</h1>
      <p>
        &nbsp;&nbsp;Roy McBride é um engenheiro espacial, portador de um leve
        grau de autismo, que decide empreender a maior jornada de sua vida:
        viajar para o espaço, cruzar a galáxia e tentar descobrir o que
        aconteceu com seu pai, um astronauta que se perdeu há vinte anos atrás
        no caminho para Netuno.
      </p>
    </div>

    <div class="trailer">
      <h1>Trailer</h1>
      <a href="https://youtu.be/31s52HE7FLs">&nbsp;&nbsp;Clique aqui para assistir ao trailer</a> 
  </div>
  </div>
</ion-content>
