<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">Flash</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-slides class="imagens" pager="true" [options]="slideOpts">
    <ion-slide>
      <img
        src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/jeruqNWhqRqOR1QyqdQdHunrvU5.jpg"
      />
    </ion-slide>
    <ion-slide>
      <img
        src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/z59kJfcElR9eHO9rJbWp4qWMuee.jpg"
      />
    </ion-slide>
    <ion-slide>
      <img
        src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/4KUg5OtElC528To0LBc8gBtv5oq.jpg"
      />
    </ion-slide>
    <ion-slide>
      <img
        src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/8s7WmphQS3jdUr3z6HvTLmet9Bk.jpg"
      />
    </ion-slide>
  </ion-slides>

  <div class="frase">"The fastest man alive"</div>

  <div class="info">
    <div class="tipo">
      <div>Drama, Sci-Fi & Fantasia - 44m</div>
      <div>5 temporadas</div>
      <div>Classificação <span class="classificacao">12</span></div>
      <div>Avaliação dos Usuários</div>
      <div class="avaliacao center c100 p73 green">
        <span>73%</span>
        <div class="slice">
          <div class="fill"></div>
          <div class="bar"></div>
        </div>
      </div> 
    </div>
    <div class="sinopse">
      <h1>Sinopse</h1>
      <p>
        &nbsp;&nbsp;Ao saber que tem câncer, um professor passa a fabricar metanfetamina
        pelo futuro da família, mudando o destino de todos.
      </p>
    </div>

    <div class="elenco">
      <h1>Elenco</h1>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-item>
                <img
                  src="https://image.tmdb.org/t/p/w138_and_h175_face/kEGU1gGySIe63lyL7AnwXEw4rQn.jpg"
                />
              </ion-item>

              <ion-card-content>
                <h1>Grant<br>Gustin</h1>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card>
              <ion-item>
                <img
                  src="https://image.tmdb.org/t/p/w138_and_h175_face/t9YV7TTQXkDWLmoHx8Mu3OUHqsP.jpg"
                />
              </ion-item>

              <ion-card-content>
                <h1>Candice<br>Patton</h1>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-item>
                <img
                  src="https://image.tmdb.org/t/p/w138_and_h175_face/faX0EDc44GL5ZcsEcxTOBcfWpCP.jpg"
                />
              </ion-item>

              <ion-card-content>
                <h1>Danielle<br>Panabaker</h1>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card>
              <ion-item>
                <img
                  src="https://image.tmdb.org/t/p/w138_and_h175_face/uDQWtrmSPsNsm2DL3TMMiAtVoTq.jpg"
                />
              </ion-item>

              <ion-card-content>
                <h1>Carlos<br>Valdes</h1>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>