<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center"> Os Simpsons (1989)</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <ion-card color="dark">
    <ion-card-header>
      <img
        src="https://http2.mlstatic.com/capa-capinha-de-iphone-5s-simpsons-pelicula-de-vidro-D_NQ_NP_553911-MLB20675472935_042016-F.jpg"
      />
    </ion-card-header>

    <ion-card-content>
      <div class="info">
        <div>31 temporadas</div>
        <div>Animação, Comédia - 22m</div>
      </div>

      <div class="sinopse">
        <h1>Sinopse</h1>
        <p>
          &nbsp;&nbsp;A família Simpsons mora na cidade de Springfield, uma cidade americana
          como qualquer outra. Homer trabalha como inspetor de segurança numa
          usina de energia nuclear. Marge tenta manter a paz em sua família.
          Bart é um travesso garoto de 10 anos. Lisa, 8, é a inteligente da
          família, que adora tocar saxofone e é vegetariana. E a pequena Maggie
          conquista todos enquanto não larga sua chupeta. E a série tem um rico,
          e muitas vezes estranho, universo de personagens que também habitam
          Springfield. Com roteiros inteligentes, humor subversivo e
          divertidamente genial, a série faz piadas de si mesma e de todo mundo
          que aparecer em seu caminho.
        </p>
      </div>
    </ion-card-content>

    <ion-card-header>
      <img
        src="https://cdn.ome.lt/5WL-66haPjS1ybpE7IT1xorOICU=/570x0/smart/uploads/conteudo/fotos/simpsons-capa_8tLbgO1.jpg"
      />
    </ion-card-header>
  </ion-card>
</ion-content>
